.ce-editorjs-x-shiki {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.ce-editorjs-x-shiki__code {
  position: relative;
  float: left;
  min-width: 100%;
  overflow-x: auto;
}

.ce-editorjs-x-shiki__selector {
  display: flex;
  gap: .25rem;
  align-items: center;
  z-index: 12;
  border-bottom-style: solid;
  border-color: #9ca3af0d;
  padding: .5rem;
}

.ce-editorjs-x-shiki__selector-language
, .ce-editorjs-x-shiki__selector-theme {
  font-size: 13px;
  font-family: inherit;
}

.ce-editorjs-x-shiki__selector select {
  border: none;
  outline: none;
}

.ce-editorjs-x-shiki__span {
  position: relative;
  z-index: 0;
  padding: 20px;
  margin: 0;
  white-space: pre;
  font-size: 13px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.ce-editorjs-x-shiki__textarea {
  white-space: pre;
  overflow: hidden;
  background-color: transparent;
  position: absolute;
  padding: 20px;
  inset: 0 0 0 0;
  color: transparent;
  z-index: 0;
  font-size: 13px;
  caret-color: white;
  resize: none;
  border: none;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.ce-editorjs-x-shiki__lang {
  position: absolute;
	line-height: 14px;
	font-size: 10px;
	color: #999;
	background-color: #dcdfe6;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	top: 0;
	right: 0;
	border-bottom-left-radius: 6px;
	border-top-right-radius: 6px;
}
